body {
    font-family: "Sora", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    min-height: 100vh;
}

.app-layout {
    background-color: rgb(249, 250, 251);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.tasks-layout {
    padding: 1rem;
}

.input-tarea {
    padding: 15px;
    font-size: 17px;
    border: transparent;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
    outline: none;
    width: 90%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1 {
    margin-bottom: 1rem;
}

.boton {
    font-family: "Sora", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

.boton:hover {
    background-color: #e2e6ea;
    font-weight: bold;
}

.tarea {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    width: 93%;
}

.texto-tarea {
    margin-left: 1rem;
}